<!-- footer.component.html -->
<div class="bg-[#2D3B38]">
  <footer class="footer lg:flex justify-between py-6 text-neutral-content container mx-auto">
    <div class="max-w-[400px]">
      <span class="footer-title">Careers</span>
      <p>
        If you're interested in employment opportunities at kalaroa health care, please email us:
        @if (contact?.email) {<a [href]="'http://mailto:' + contact?.email" class="link link-hover">{{contact?.email}}</a>}
      </p>
      <span class="footer-title mt-5">Our Vision</span>
      <p>
        We are a health service provider dedicated to render patient-centered, passion-driven care of the highest quality.
      </p>
    </div>
    <div class="gap-0">
      <span class="footer-title">Support</span>
      @if (contact?.phoneNumber1) {<p>{{contact?.phoneNumber1}}</p>}
      @if (contact?.phoneNumber2) {<p>{{contact?.phoneNumber2}}</p>}
      @if (contact?.phoneNumber3) {<p>{{contact?.phoneNumber3}}</p>}
      @if (contact?.email) {<p>E-mail ID:</p>}
      @if (contact?.email) {<a [href]="'http://mailto:' + contact?.email" class="link link-hover">{{contact?.email}}</a>}
      @if (contact?.facebookLink) {<p>Facebook:</p>}
      @if (contact?.facebookLink) {<a [href]="'http://' + contact.facebookLink" class="link link-hover" target="_blank">
        {{contact.facebookLink}}
      </a>}
      @if (contact?.othersLink1) {<p>Website:</p>}
      @if (contact?.othersLink1) {<a [href]="'http://' + contact.othersLink1" class="link link-hover" target="_blank">
        {{contact.othersLink1}}
      </a>}
      @if (contact?.othersLink2) {<a [href]="'http://' + contact.othersLink1" class="link link-hover" target="_blank">
        {{contact?.othersLink2}}
      </a>}
    </div>
    <div>
      <span class="footer-title">Our Address</span>
      @if (contact?.address1) {<p>{{contact?.address1}}</p>}
      @if (contact?.address2) {<p>{{contact?.address2}}</p>}
      <span class="footer-title mt-2">Customer Care Hours</span>
      <p>Saturday to Thursday: 09 am – 08 pm</p>
      <span class="footer-title mt-2">Social Media</span>
      <div>
        <ul class="flex">
          @if (contact?.facebookLink) {
            <li class="bg-primary text-white hover:bg-base-200 hover:font w-10 h-10 rounded-full flex justify-center items-center hover:text-primary mx-1">
              <a target="_blank" [href]="'http://' + contact.facebookLink" class="link link-hover text-2xl mt-1">
                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
            </li>
          }
          <!-- @if (contact?.facebookLink) {
            <li class="bg-primary text-white hover:bg-base-200 w-10 h-10 rounded-full flex justify-center items-center hover:text-primary mx-1">
              <a target="_blank" [href]="'http://' + contact.facebookLink" class="link link-hover">
                <fa-icon [icon]="faInstagram"></fa-icon>
              </a>
            </li>
          }
          @if (contact?.facebookLink) {
            <li class="bg-primary text-white hover:bg-base-200 hover:font w-10 h-10 rounded-full flex justify-center items-center hover:text-primary mx-1">
              <a target="_blank" [href]="'http://' + contact.facebookLink" class="link link-hover">
                <fa-icon [icon]="faTwitter"></fa-icon>
              </a>
            </li>
          } -->
        </ul>
      </div>
    </div>
  </footer>
  <footer class="footer container mx-auto py-4 border-t border-slate-500 text-base-content">
    <div class="text-white">
      <p>
        Copyright &copy; 2024
        <a routerLink="/" class="text-primary-300">
          KALAROA HEALTH CARE
        </a>
        . All right reserved
      </p>
    </div>
  </footer>
</div>