<section>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="../../../assets/images/service.png" class="" />
      <div>
        <h1 class="text-5xl font-bold text-center text-primary-700">আমাদের সেবা সমূহ</h1>
        <h2 class="text-2xl font-bold my-2 text-red-500"> জার্মানী মেশিন দ্বারা সকল পরীক্ষা নিরীক্ষা করা হয়। </h2>
        <ul>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">4D কালার ডপলার আল্ট্রাসনো</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">বিশেষজ্ঞ ডাক্তার দ্বারা চিকিৎসা প্রদান</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">হরমোন নির্ণয় (এ্যালাইজা ও অটো)</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">ই.সি.জি ১২ চ্যানেল</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">ডিজিটাল এক্স-রে/ডেন্টাল</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">ক্লিনিক্যাল প্যাথলজি</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">মাইক্রোবায়োলজী</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">অটো হেমাটোলজি</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">শীততাপ নিয়ন্ত্রিত</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">নিজস্ব বিদ্যুৎ ব্যবস্থা</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">পরিচ্ছন্ন পরিবেশ</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">সেবা নিন সুস্থ্য থাকুন</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">
              নাক, কান, গলা ডিজিটাল ভিডিও মেশিন দ্বারা চিকিৎসা করা হয়।
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
