<div class="bg-base-200 text-black">
  <div class="hero container mx-auto lg:pt-20">
    <div class="hero-content flex-col lg:flex-row-reverse pb-0">
      <img
        data-aos="fade-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        src="../../../assets/images/md-lalaroa.png"
        class="max-w-sm hidden md:block"
        alt="Doctor Image"
      />
      <div
        data-aos="fade-up"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        class="lg:mr-24 lg:ml-12 mb-8"
      >
        <h1 class="text-5xl font-thin">{{about?.heading}}</h1>
        <p class="lg:py-6">
          {{about?.description}}
        </p>
        <button
        routerLink="about"
          class="px-8 py-4 bg-primary text-white inline-block mt-8 font-semibold uppercase"
        >
          About Us
        </button>
      </div>
    </div>
  </div>
</div>
